body {
    background-color: rgb(72, 71, 71);    
}

#LogoLag6 {
  max-width: 150px;
  height: auto;
  display: block;
  margin: 0 auto;   
}

#Lagbild {
    max-width: 270px;
  height: auto;
  display: block;
  margin: 0 auto;  
}

    .button {
    background-color: #0011ff;
        color: white; 
        padding: 14px 25px; 
        text-align: center; 
        text-decoration: none; 
        display: inline-block; 
        border-radius: 4px;
        
        
}

.button:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
}

footer {
    display: flex;
    justify-content: center;
    padding: 50px;
    background-color: #0011ff;
    color: white;
    border-top: 3px solid; 
    
    border-color: black;
}