body {
    background-color: rgb(72, 71, 71);    
}

#LogoLag6 {
  max-width: 150px;
  height: auto;
  display: block;
  margin: 0 auto;   /* samma trick som för containern! */
}

a {
   background-color: #0011ff;
    color: white; 
    padding: 14px 25px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    border-radius: 4px;
    
}

footer {
    display: flex;
    justify-content: center;
    padding: 50px;
    background-color: #0011ff;
    color: white;
    border-top: 3px solid; 
    
    border-color: black;
}